@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #FFB854, #FAF3E0);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(200, 194, 179, 0.859);
    width: 600px;
    padding: 10px;
    margin: auto;
}

p{
    text-align: justify;
}

h1{
    color: #2C2C2C;
    text-align: center;
    text-shadow: 1px 1px 2 px #101010;
}

h2{
    color: #C62828;
}